body{
	background-color: peru;
	font-family: Garamond, 'Times New Roman', Times, serif;
	font-size: 15pt;
    font-weight: bold;
    text-shadow: 50px;
}
h1{
	color: brown;
	font-family: Garamond, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 40pt;
    font-weight: bold;
    text-shadow: 50px;
}
h2{
	color: brown;
	font-family: Garamond, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 25pt;
    font-weight: bold;
    text-shadow: 50px;
}
h5{
	font-size: 12pt;
}

h4{
	font-family: Garamond, 'Times New Roman', Times, serif;
	font-size: 12pt;
}

.grid-container {
	display: grid;
	grid-template-columns: 10% auto 20%;
	grid-gap: 10px;
}

.grid-container > div{
  border: 1px solid rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  background-color: antiquewhite;
}


/*#main1{
    text-align: center
	
}*/
.parent{
    display: flex;
    text-align: middle;
    justify-content: center;
}
.frn{
    border: 7px dotted rgb(128, 36, 36);
    width: 10%;
}
.ingrepizza{
	border: 5px dotted rgb(128, 36, 36);
    width: 70%;
	margin: auto;
	display: flex;
}

#center{
	text-align: center;
}

div a{
    font-size: 15px;
    font-weight: bold;
    color: rgb(124, 41, 0);
}


#header{
  grid-column: 1/ span 3;
}
#main1{
  grid-column: 1 / span 1;
}
#main2{
  grid-column: 2 / span 1;
}
#right{
  grid-column: 3 / span 1;
}
#footer{
  grid-column: 1 / span 3;
}

.grid-container > div{
    
}

#header{
	
}

#main1{

}

#right{

}

#footer{
	
}

.rotate-pizza{
	width: 50%;
	animation: moveball 2s linear
	infinite;
	margin: auto;
}
@keyframes moveball{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

@media only screen and (max-width: 768px) {
	
}

@media only screen and (max-width: 480px) {
	.grid-container {
		  
		 
	}
	#header{
		
	}
	#footer{
	
	}
}